<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Inicio de Sesión</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="../css/proyectos.css">
    <script src="https://kit.fontawesome.com/43d3343120.js" crossorigin="anonymous"></script>
</head>

<body>
    <form id="cuadro" th:action="@{/Recuperar_Contrasena/Validar}" method="post">
    <div th:if=${param.Error}>
						<div class="alert alert-danger">Este correo no se encuentra registrado</div>
					</div>
					<div th:if=${param.Exito}>
						<div class="alert alert-info">Se ha enviado la contraseña al correo electronico</div>
					</div>
        <a class="linkcasa" href="/	">
            <img class="casita" src="../imagenes/inicio.png">
        </a>
        <img class="imagen" src="../imagenes/usuario.png" id="imagen">
        <br>
        <label for="username">
            <i class="fa-solid fa-user"></i>
            <input required autofocus="autofocus" placeholder="CORREO ELECTRONICO" type="email" id="username" name="username">
        </label>
        <br>
        <button id="login" class="boton-login">RECUPERAR CONTRASEÑA</button>
        <br>
    </form>
    <script src="../js/script.js"></script>
</body>

</html>