<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Items Asignados</title>
    <div th:replace="Menu.html"></div>
    <div class="contenedor-principal" id="contenedor-move">
            <a class="boton-volver" href="/Proyectos">VOLVER</a>
            <div class="contenedor-play-subproyecto">
                <div class="proyecto-play">
                    <div class="contenedor-proyecto">
                        <div class="nombre">
                            <a th:text="${subproyecto.getNombre()}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor-play-subproyecto">
            <tr th:each="item : ${items}">
                <div class="proyecto-play">
                    <div class="contenedor-proyecto">
                        <div class="nombre">
                            <a th:text="${item.item.nombre}"></a>
                        </div>
                        <div class="logos-proyecto">
                        
                            <a th:href="@{'/Proyectos/' + ${proyecto.id} + '/Subproyectos/' + ${subproyecto.id} + '/Items/' + ${item.id} + '/APU'}" ><img class="icon-proyecto" src="../../../../imagenes/play.png"></a>  
						    <a th:href="@{'/Proyectos/' + ${proyecto.id} + '/Subproyectos/' + ${subproyecto.id} + '/Items/' + ${item.id} + '/Ocultar'}" onclick="return confirmarOcultar();"><img class="icon-proyecto" src="../../../../imagenes/delete.png"></a>
                        </div>
                    </div>
                </div>
                </tr>
                 <a class="boton-subproyecto" th:href="@{'/Proyectos/' + ${proyecto.id} + '/Subproyectos/' + ${subproyecto.id} + '/Items/Asignar_Item'}">ASIGNAR ITEM</a>
            </div>
        </div>
    </div>
    <script th:src="@{/js/script.js}"></script>
</body>

</html>