<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Crear APU</title>
<div th:replace="Menu.html"></div>
<div class="contenedor-principal" id="contenedor-move">
<div th:if="${alertaAPUExistente}" class="alert alert-danger" role="alert">
        				<strong>Error:</strong> <span th:text="${alertaAPUExistente}"></span>
    				</div>
	<a class="boton-volver" href="/APU">VOLVER</a>
	<form th:action="@{/APU/Guardar}" th:object="${apu}" method="POST">
		<div class="contenedor-play-subproyecto">
			<div class="proyecto-play">
				<div class="nombre">
					<a>CREACIÓN DEL APU</a>
				</div>
				<div class="ubicacion">
					<a>NOMBRE</a>
					<div class="texto">
						<input class="cuadro-texto" type="text" id="nombre"
							name="nombre" required>
					</div>
				</div>
				<br>
				<div class="ubicacion">
					<a>UNIDAD</a>
					<div class="texto">
						<input class="cuadro-texto" type="text" id="unidad"
							name="unidad" required>
					</div>
				</div>
			</div>
			<button type="submit" class="boton-subproyecto">CREAR APU</button>
		</div>
		</form>
</div>
</div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>

</html>