<!DOCTYPE html>
<html lang=xmlns:th="http://www.thymeleaf.org" "en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lista de Materiales asignados</title>
<div th:replace="Menu.html"></div>
<div class="contenedor-principal" id="contenedor-move">
	<a class="boton-volver" th:href="@{'/Proyectos/' + ${proyecto.id} + '/Subproyectos/' + ${subproyecto.id} + '/Items/' + ${itemSubproyecto.id} + '/APU/' + ${apuItemSubproyecto.id} + '/Recursos'}">VOLVER</a>
	<div class="contenedor-play">
		<div class="nombre">
			<div class="contenedor-proyecto">
				<div class="nombre">
					<a th:text="'MATERIALES - ' + ${apuItemSubproyecto.apu.nombre}"></a>
				</div>
			</div>
			<div class="ubicacion">
                        <a>PRECIO MATERIALES</a>
                        <div class="nombre-ubicacion">
                            <a th:text="${total}"></a>
                        </div>
                    </div>
		</div>
	</div>
		<tr th:each="material : ${materiales}">
		<div class="contenedor-play-subproyecto">
			<div class="proyecto-play">
				<div class="contenedor-proyecto">
					<div class="nombre">
						<a th:text="${material.material.nombre}"></a>
					</div>
					<div class="logos-proyecto">
						<a th:href="@{'/Proyectos/' + ${proyecto.id} + '/Subproyectos/' + ${subproyecto.id} + '/Items/' + ${itemSubproyecto.id} + '/APU/'+ ${apuItemSubproyecto.id} + '/Recursos/Materiales/' + ${material.id} + '/Editar'}"><img class="icon-proyecto" th:src="@{/imagenes/editar.png}"></a>
						<a th:href="@{'/Proyectos/' + ${proyecto.id} + '/Subproyectos/' + ${subproyecto.id} + '/Items/' + ${itemSubproyecto.id} + '/APU/'+ ${apuItemSubproyecto.id} + '/Recursos/Materiales/' + ${material.id} + '/Ocultar'}" onclick="return confirmarOcultar();"><img class="icon-proyecto" th:src="@{/imagenes/delete.png}"></a>
					</div>
				</div>
				<div class="ubicacion">
					<a>CANTIDAD</a>
					<div class="nombre-ubicacion">
						<a th:text="${material.cantidad}"></a>
					</div>
				</div>
				<div class="ubicacion">
					<a>V/UNITARIO</a>
					<div class="nombre-ubicacion">
						<a th:text="${material.valorUnitario}"></a>
					</div>
				</div>
				<div class="ubicacion">
					<a>V/PARCIAL</a>
					<div class="nombre-ubicacion">
						<a th:text="${material.getValorParcial()}"></a>
					</div>
				</div>
			</div>
		</div>
		<br>
	</tr>
	<a class="boton-subproyecto" th:href="@{'/Proyectos/' + ${proyecto.id} + '/Subproyectos/' + ${subproyecto.id} + '/Items/' + ${itemSubproyecto.id} + '/APU/'+ ${apuItemSubproyecto.id} + '/Recursos/Materiales/Asignar_Material'}">ASIGNAR MATERIAL</a>
	</div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>

</html>